.container {
  max-width: 900px;
  margin: auto;
  background-color: #ede6db;
  max-height: 900px;
}

.row {
  display: flex;
  height: 100%;
}

.col-one-third {
  width: 33%;
}

.col-two-thirds {
  width: 66%;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-full {
  width: 100%;
  height: 400px;
}
