.call-button {
  border-radius: 5px;
  background-color: #1484d6;
  border: none;
  color: white;
  padding: 20px 40px;
  font-size: 40px;
}

.call-button:hover {
  cursor: pointer;
}

.moon {
  width: 20%;
  margin-right: 20px;
}

.submit-button {
  border-radius: 5px;
  background-color: #1484d6;
  border: none;
  color: white;
  font-size: 20px;
  padding: 8px 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.text-right {
  text-align: right;
  width: 50%;
}

.submit-button:hover {
  cursor: pointer;
}

.submission-field {
  width: 300px;
  height: 50px;
  font-size: 15px;
}

h2 {
  margin-right: 110px;
}

.eevee {
  height: 300px;
  display: flex;
  justify-content: center;
}

input {
  border: solid;
  border-radius: 3px;
  border-color: lightgray;
  background-color: #ede6db;
}

.hidden {
  display: none;
}

.time-button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: none;
}

.night-button {
  background-color: black;
}

.day-button {
  background-color: white;
}

.time-button:hover {
  cursor: pointer;
}

.heart {
  height: 50px;
  width: 50px;
}

.heart:hover {
  cursor: pointer;
}
